body
  transition 1s all

.fade
  opacity 0
  transition none

.fadet
  opacity 0

.material-icons
  display inline-flex
  vertical-align middle

#weight h5 .material-icons
  padding-bottom 7px

#wtimes .tab
  cursor pointer

#weightc
  transition 1s opacity
